*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    height: 100vh;
    /* margin-top: 30px; */
    /* background-color: aqua; */
    display: flex;
    background-color:rgb(124, 123, 123);

}
.left
{
    height: 100%;
    width: 50%;
   
}
.right
{
    height: 100%;
    width: 50%;
    /* background-color: brown; */
    background-color: whitesmoke;
}

textarea
{
    height: 28%;
    width: 100%;
    color: #fff;
    background-color: #1f1f1f;
    font-size: 30px;
}


iframe
{
    width: 100%;
    height: 95%;
    background-color:white;
    text-size-adjust: 30px;
    

}
label
{
    font-size: 30px;
    font-weight: 600;
}


@media (max-width:600px)
{
    .main{
        flex-direction: column;
    }

    .right
    {
        width: 100%;
    }
    .left{
        width: 100%;
       
    }
    textarea
    {
        font-size: 16px;
    }
    label
    {
        font-size: 16px;
    }
    
}
